<ion-header class="ion-no-border" >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/stores']" >
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>stores</ion-title>
  </ion-toolbar>
  <ion-searchbar placeholder="Search For Store..."></ion-searchbar>
</ion-header>
<ion-content>
  <div #map id="map"></div>
  <div class="slides">
    <ion-slides [options]="slideOpts">
      <ion-slide class="ion-no-margin list" *ngFor="let store of stores; let i = index">
        <ion-card (click)="updateMap(store, i)">
          <ion-text>
            <h1 class="ion-no-margin ion-no-padding">Open</h1>
          </ion-text>
          <ion-row>
            <ion-col size="3">
              <img [src]="store.img"/>
            </ion-col>
            <ion-col size="9">
              <h4 class="ion-no-margin text-ellips">{{store.name}}</h4>
              <h6 class="ion-no-margin">{{store.itemCount}} items</h6>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </div>
</ion-content>
